// .display {
//   display: block;
//   height: 10vh;
//   background-color: rgb(244, 241, 241);
//   text-align: right;
//   padding: 10px;

//   &__calculation {
//     border-radius: 10px 10px 0 0;
//     margin-top: 20px;
//     font-size: 6vw;
//     color: gray;
//   }

//   &__answer {
//     border-radius: 0 0 10px 10px;
//     margin-bottom: 20px;
//     font-size: 8vw;
//     color: black;
//   }
// }

#display {
  height: 10vh;
  width: 100%;
  font-size: 6vw;
  background-color: rgb(244, 241, 241);
  border: none;
  border-radius: 10px 10px 0 0;
  text-align: right;
  color: gray;
  pointer-events: none;
  max-height: fit-content;
  padding: 10px;
}

#display-answer {
  height: 10vh;
  width: 100%;
  margin-bottom: 20px;
  font-size: 6vw;
  background-color: rgb(244, 241, 241);
  border: none;
  border-radius: 0 0 10px 10px;
  text-align: right;
  max-height: fit-content;
  pointer-events: none;
  padding: 10px;
}
