#display {
  height: 13vh;
  width: 100%;
  font-size: 35px;
  background-color: rgb(244, 241, 241);
  border: none;
  border-radius: 10px 10px 0 0;
  text-align: right;
  color: gray;
  pointer-events: none;
  max-height: fit-content;
  padding: 10px;
}

#display-answer {
  height: 13vh;
  width: 100%;
  margin-bottom: 20px;
  font-size: 45px;
  background-color: rgb(244, 241, 241);
  border: none;
  border-radius: 0 0 10px 10px;
  text-align: right;
  max-height: fit-content;
  pointer-events: none;
  padding: 10px;
}


@media screen and (min-width:768px) {
  #display {
    height: 10vh;
  }

  #display-answer {
    height: 10vh;
  }
}