body {
  margin: 5px;
  background-color: rgb(188, 244, 230);
  display: flex;
  justify-content: center;
  height: 100vh;
}

// #intro {
//   display: none;
// }

.calculator {
  max-width: 450px;
  background-color: rgb(251, 251, 247);
  border: 2px solid rgb(251, 251, 247);
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

@media screen and (min-width: 700px) {

  body {
    margin: 0;
  }

  .calculator {
    max-width: 800px;
  }
}

// @media screen and (min-width: 900px) {

//   #intro {
//     display: unset;
//     width: 300px;
//     padding: 20px;
//     margin: 20px;
//   }
// }